.header {
    border-bottom: 1px solid $seventhColor;

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6875rem 1rem;
    }

    &__logo {
        display: inline-block;
        width:3rem;
        height: 2.125rem;
    }

    &__hamburger-menu {

        & > span {
            display: block;
            width: 1.125rem;
            height: 0.125rem;
            border-radius: 1px;
            background-color: $twelfthColor;

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }

        &.open {
            
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
        line-height: 114%;
        letter-spacing: 0.25px;
        font-size: $fontMd;
        font-weight: 500;
        color: $secondColor;

        a {
            position: relative;
            transition: color 300ms ease-in-out;

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -28px;
                background: $eighthColor;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: #000;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__dropdown-container {
        display: flex;
        gap: 0.25rem;
    }

    &__button {
        padding: 0.875rem 1.25rem;
        border-radius: 0.25rem;
        color: $twelfthColor;
        background-color: $tenthColor;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: $fontDft;
        font-weight: 700;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}
