.main {
    text-align: center;

    &__navigation {
        display: flex;
        gap: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: $fontSm;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: 0.015625rem;
        color: $secondColor;
        opacity: 70%;
    }

    &__link-container {
        display: flex;
        gap: 0.25rem;
    }

    &__heading {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.625rem;
        line-height: 1.625rem;
    }

    &__articles-filter {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        overflow-x: auto;
        scrollbar-width: none;
        cursor: grab;
    }

    &__articles-link {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        white-space: nowrap;
        gap: 0.25rem;
        padding: 0.375rem 0.5rem;
        border: 1px solid $fourthColor;
        border-radius: 24px;
        line-height: 1.25rem;
        font-size: $fontMd;
        font-weight: 600;
        color: $secondColor;
        transition: box-shadow 200ms ease-in-out;

        &:focus {
            background-color: $eleventhColor;
            border: 1px solid transparent;
            box-shadow: $eighthColor 0 0 0 2px inset;
        }

        // &:hover {
        //     border: 1px solid transparent;
        //     box-shadow: $eighthColor 0 0 0 2px inset;
        // }
    }

    &__button {
        width: 11.375rem;
        height: 3rem;
        padding: 0.75rem 1rem;
        border-radius: 4px;
        color: $firstColor;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: $fontDft;
        line-height: 1.5rem;
        background-color: #35B3A9;
        transition: background-color 300ms ease-in-out;

        &:hover {
            background-color: #03a093;
        }
    }
}