// Colors
$firstColor: #FFFFFF;
$secondColor: #333333;
$thirdColor: #494949;
$fourthColor: #C1C5CD;
$fifthColor: #868686;
$sixthColor: #DEDEDE;
$seventhColor: #EFF5FB;
$eighthColor: #16C8BB;
$ninthColor: #2963A3;
$tenthColor: #E3F5F5;
$eleventhColor: #F9FDFD;
$twelfthColor: #03B2A5;

$overlayColor: #2d314d;

// Fonts
$fontSm: 0.75rem; // 12px
$fontMd: 0.875rem; // 14px
$fontDft: 1rem; // 16px
$fontLg: 1.125rem; // 18px
$fontXlg: 1.5rem; // 24px
$fontXxlg: 2rem; // 32px
$fontLgst: 3rem; // 48px