// Colors
$firstColor: #FFFFFF;
$secondColor: #333333;
$thirdColor: #494949;
$fourthColor: #C1C5CD;
$fifthColor: #868686;
$sixthColor: #DEDEDE;
$seventhColor: #EFF5FB;
$eighthColor: #16C8BB;
$ninthColor: #2963A3;
$tenthColor: #E3F5F5;
$eleventhColor: #F9FDFD;
$twelfthColor: #03B2A5;