.main {
    
    & h4 {
        line-height: 1.5rem;  // 24px
    }

    // margin-bottom helper class
    .mg-bottom {
        margin-bottom: 1rem;  // 16px

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }
    }

    // Helper class for styling and positioning list elements
    .list-style-pseudo {
        position: relative;
        padding-left: 2rem;  // 32px

        &:first-child {
            margin-bottom: 0.5rem;  // 8px

            @include breakpoint-up(iphonepromax) {
                margin-bottom: 1rem;  // 16px
            }
        }

        &::before {
            position: absolute;
            display: block;
            height: 0.5rem;  // 8px
            width: 0.5rem;  // 8px
            content: "";
            top: 0.5rem;  // 8px
            left: 0.5rem;  // 8px
            border-radius: 50%;
            background-color: $twelfthColor;
        }
    }

    // Helper class for styling cards with different background-color
    .bg-color-card {
        padding: 1rem;  //  16px
        border-radius: 1rem;  // 16px

        @include breakpoint-up(ipadmini) {
            padding: 1.5rem;  // 24px
        }

        & > h4 {
            margin-bottom: 0.5rem;  // 8px
        }
    }

    &__breadcrumbs {
        margin: 1rem 0 2rem;  // 16px 32px

        @include breakpoint-up(iphonepromax) {
            margin: 0.6875rem 0 2rem;  // 11px 32px
        }

        @include breakpoint-up(ipadmini) {
            margin: 1rem 0 3.3125rem;  // 16px 53px
        }
    }

    &__breadcrumbs-list {
        display: flex;
        gap: 0.625rem;  // 10px
        align-items: center;

    }

    &__breadcrumbs-nav-link-with-arrow {
        display: flex;
        align-items: center;
        gap: 0.625rem;  // 10px
        flex-shrink: 0;

        & > svg {
            // width: 16px;  // 16px
            // height: 16px;  // 16px
        }
    }

    &__breadcrumbs-nav-link {
        display: inline-block;
        font-size: $fontSm;
        line-height: 1.125rem;  // 18px
        letter-spacing: 0.25px;
        color: #333333b3;

        &:last-child {
            max-width: 9.375rem;  // 150px
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;  // Won't work without the above properties
            pointer-events: none;

            @include breakpoint-up(iphonepromax) {
                max-width: 13.9375rem;  // 223px
            }

            @include breakpoint-up(ipadmini) {
                max-width: none;
            }
        }
    }

    &__flex-container {

        @include breakpoint-up(ipadpro) {
            display: flex;
            gap: 1.5rem;  // 24px
        }

        @include breakpoint-up(desktop) {
            gap: 14.25rem;  // 228px
        }
    }

    &__article {
        
        & ul li {
            font-weight: 500;
            line-height: 1.5rem;  // 24px
            color: $secondColor;
        }

        @include breakpoint-up(ipadpro) {
            width: 44.625rem;  // 714px
        }

        @include breakpoint-up(desktop) {
            width: 43.125rem;  // 690px
        }
    }

    &__article-info {
        // margin-bottom: 1rem;  // 16px
    }

    &__article-info-title {
        margin-bottom: 0.5rem;  // 8px
        line-height: 2rem;  // 32px

        @include breakpoint-up(iphonepromax) {
            font-size: $fontXxlg;
            line-height: 2.5rem;  // 40px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1rem;  // 16px
            padding-right: 3.0625rem;  // 49px
            font-size: $fontLgst;
            line-height: 3.5rem;  // 56px
        }
    }

    &__article-info-text {
        font-size: $fontMd;
        line-height: 1.25rem;  // 20px
        color: $thirdColor;

        & > span {
            color: $ninthColor;
        }
    }

    &__img-wrapper-1 {
        margin-bottom: 1rem;  // 16px
        height: 10rem;  // 160px

        & > img {
            height: 100%;
            width: 100%;
        }

        @include breakpoint-up(iphonepromax) {
            height: 12.9375rem;  // 207px
        }

        @include breakpoint-up(ipadmini) {
            height: 20.6875rem;  // 331px
            // margin-bottom: 0.75rem;  // 12px
        }

        @include breakpoint-up(desktop) {
            margin-bottom: 1.5rem;  // 24px
        }
    }

    &__navigation {
        margin-bottom: 1rem;  // 16px

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 2.25rem;  // 36px
        }

        @include breakpoint-up(desktop) {
            margin-bottom: 1.5rem;  // 24px
        }
    }

    &__navigation-heading {
        margin-bottom: 0.5rem;  // 8px

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1rem;  // 16px
        }
    }

    &__navigation-headline {

        &:first-child {
            @include breakpoint-up(ipadmini) {
                margin-bottom: 0.5rem !important;  // 8px
            }
        }

        &:nth-child(2) {
            @include breakpoint-up(desktop) {
                margin-bottom: 0.5rem;  // 8px

                & a:not(:last-child) {
                    margin-bottom: 0.25rem;  // 4px
                }
            }
        }

        &:nth-child(3) {
            @include breakpoint-up(desktop) {
                margin-bottom: 0.875rem;  // 14px
            }
        }

        & a {
            text-decoration: underline;
        }
    }

    &__article-content {
        margin-bottom: 1rem;  // 16px

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 3.5rem;  // 56px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(desktop) {
            margin-bottom: 0;
        }

        & h3 {
            margin-bottom: 0.5rem;  // 8px
            font-size: 1.125rem;  // 18px
            line-height: 1.625rem;  // 26px

            @include breakpoint-up(iphonepromax) {
                margin-bottom: 1rem;  // 16px
                font-size: $fontXlg;
                line-height: 2rem;  // 32px
            }
        }

        & p {
            font-weight: 500;
            line-height: 1.5rem;  // 24px
            color: $secondColor;
        }

        & > P:nth-child(2) {
            margin-bottom: 0.5rem;  // 8px

            @include breakpoint-up(desktop) {
                margin-bottom: 1.5rem;  // 24px
            }
        }

        & > P:nth-child(3) {
            margin-bottom: 2.5rem;  // 40px

            @include breakpoint-up(ipadmini) {
                margin-bottom: 1.5rem;  // 24px
            }

            @include breakpoint-up(desktop) {
                margin-bottom: 2.5rem;  // 40px
            }
        }
    }

    &__bg-svg-and-text-1 {
        position: relative;
        padding: 1rem;  // 16px
        border-radius: 1rem;  // 16px
        background-color: #F3F7FE;

        @include breakpoint-up(ipadmini) {
            padding: 1.5rem;  // 24px
        }

        @include breakpoint-up(desktop) {
            padding: 2rem 1.5rem 1.5rem;  // 32px 24px 24px
        }

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 1.4375rem;  // 23px
            height: 2.25rem;  // 36px
            background-image: url("/src/images/svg/icon-quote.svg");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.6;

            @include breakpoint-up(ipadmini) {
                width: 3.75rem;  // 60px
            }

            @include breakpoint-up(desktop) {
                width: 3.5rem;  // 56px
                top: 1rem;  // 16px
                left: 1rem;  // 16px
            }
        }

        & > p {

            &:first-child {
                margin-bottom: 0.5rem;  // 8px
                font-style: italic;
            }

            &:last-child {
                font-weight: 700;
                font-style: normal;
            }
        }
    }

    &__article-content-subgroup-1 {

        & > p:nth-child(4) {
            font-size: $fontMd;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.25px;
            color: $fifthColor;
        }
    }

    &__img-wrapper-2 {
        margin-bottom: 1rem;  // 16px
        height: 10rem;  // 160px

        @include breakpoint-up(iphonepromax) {
            height: 12.9375rem;  // 207px
        }

        @include breakpoint-up(ipadmini) {
            height: 20.6875rem;  // 331px
            // margin-bottom: 0.75rem;  // 12px
        }

        & > img {
            height: 100%;
            width: 100%;
        }
    }

    &__bg-svg-and-text-2 {
        height: 11rem;  // 176px
        padding-top: 0.5rem;  // 8px
        text-align: center;
        background-image: url("/src/images/svg/icon21.svg");
        // background-size: 15rem 10.5rem;  // 240px 168px
        background-repeat: no-repeat;
        background-position: center center;

        & > p {
            font-weight: 400;
            font-style: italic;
            text-align: center;
        }

        @include breakpoint-up(iphonepromax) {
            height: 10.5rem;  // 168px
            padding-top: 1.5rem;  //  24px
        }

        @include breakpoint-up(ipadmini) {
            padding: 1.5rem 6.375rem 0;  // 24px 102px
        }
    }

    &__img-and-text-row-1 {

        @include breakpoint-up(ipadmini) {
            display: flex;
            height: 23.75rem;  // 380px
            margin-bottom: 1.5rem;  // 24px
            gap: 1rem;  // 16px
        }

        @include breakpoint-up(ipadpro) {
            gap: 1.5rem;  // 24px
        }

        & > div:first-child {
            height: 23.75rem;  // 380px
            width: 18rem;  // 288px
            margin-bottom: 1rem;  // 16px

            @include breakpoint-up(iphonepromax) {
                width: 22.875rem;  // 366px
            }

            @include breakpoint-up(ipadmini) {
                height: 100%;
                width: 18.375rem;  // 294px
                margin-bottom: 0;
                flex: 0 0 auto;
            }

            @include breakpoint-up(ipadpro) {
                width: 17.625rem; // 282px
            }
        }

        & > div:last-child {
            
            @include breakpoint-up(ipadmini) {
                height: 100%;
                margin-bottom: 0;
                flex: 0 1 auto;
            }

            @include breakpoint-up(desktop) {
                width: 24.0625rem;  // 385px
            }
        }

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__bg-and-text-1 {
        background-color: #FEFAEC;
    }

    &__article-content-subgroup-2 {

        @include breakpoint-up(ipadpro) {
            margin-bottom: 4.4375rem;  // 71px
        }

        @include breakpoint-up(desktop) {
            margin-bottom: 3rem;  // 48px
        }
    }

    &__img-and-text-row-2 {

        @include breakpoint-up(ipadmini) {
            display: flex;
            height: 11.375rem;  // 182px
            margin-bottom: 1.5rem;  // 24px
            gap: 1rem;  // 16px
        }

        @include breakpoint-up(ipadpro) {
            height: 10.875rem;  // 174px
            gap: 1.5rem;  // 24px
        }

        & > div:first-child {
            height: 10rem;  // 160px
            width: 18rem;  // 288px
            margin-bottom: 1rem;  // 16px

            @include breakpoint-up(iphonepromax) {
                height: 12.9375rem;  // 207px
                width: 22.875rem;  // 366px
            }

            @include breakpoint-up(ipadmini) {
                width: 18.375rem;  // 294px
                height: 100%;
                margin-bottom: 0;
            }

            @include breakpoint-up(ipadpro) {
                width: 17.5625rem;  // 281px
            }
        }

        & > div:last-child {
            
            @include breakpoint-up(ipadmini) {
                width: 26.125rem;  // 418px
                height: 100%;
                margin-bottom: 0;
            }

            @include breakpoint-up(ipadpro) {
                width: 25.5625rem;  // 409px
            }

            @include breakpoint-up(desktop) {
                width: 24.125rem;  // 386px
            }
        }

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__bg-and-text-2 {
        background-color: #FFF3EB;
    }

    &__img-and-text-column {

        @include breakpoint-up(ipadmini) {
            display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(2, 1fr);
            margin-bottom: 1.5rem;  // 24px
            grid-column-gap: 1rem;  // 16px
            grid-row-gap: 1.5rem;  // 24px
            grid-template-areas: 
                "img-left img-right"
                "text-left text-right";

            & > div:nth-child(1) {
                grid-area: img-left;
            }
        
            & > div:nth-child(2) {
                grid-area: text-left;
            }
        
            & > div:nth-child(3) {
                grid-area: img-right;
            }
        
            & > div:nth-child(4) {
                grid-area: text-right;
            }
        }

        @include breakpoint-up(ipadpro) {
            grid-column-gap: 1.5rem; // 24px
        }

        & > div:nth-child(even) {
            margin-bottom: 1rem;  // 16px

            @include breakpoint-up(iphonepromax) {
                margin-bottom: 1.5rem;  // 24px
            }

            @include breakpoint-up(ipadmini) {
                margin-bottom: 0;
            }
        }

        & > div:nth-child(odd) {
            height: 14.6875rem;  // 235px
            width: 18rem;  // 288px
            margin-bottom: 0.5rem;  // 8px

            @include breakpoint-up(iphonepromax) {
                height: 20.3125rem;  // 325px
                width: 22.875rem;  // 366px
                margin-bottom: 1rem;  // 16px
            }

            @include breakpoint-up(ipadmini) {
                height: 14.6875rem;  // 235px
                width: 22.25rem;  // 356px
                margin-bottom: 0;
            }

            @include breakpoint-up(ipadpro) {
                width: 21.5625rem;  // 345px
            }

            @include breakpoint-up(desktop) {
                width: 20.8125rem;  // 333px
            }

            & > img {
                height: 100%;
                width: 100%;
            } 
        }
    }

    &__svg-separator {
        text-align: center;
    }

    &__bg-and-text-3 {
        background-color: #03b2a51a;

        @include breakpoint-up(desktop) {
            margin-bottom: 1.5rem;  // 24px
        }
    }

    &__desktop-bottom-tags {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;  // 4px

        & div {
            display: flex;
            gap: 0.5rem;  // 8px
            font-size: $fontMd;
            line-height: 1.25rem;  // 20px
            color: $secondColor;

            & a {
                &:hover {
                    color: $ninthColor;
                    text-decoration: underline;
                }
            }
        }
    }

    &__aside {

        @include breakpoint-up(ipadmini) {
            // display: grid;
            // grid-column-gap: 1rem; // 16px
            // grid-row-gap: 1.875rem;  // 30px
            // grid-template-areas: 
            //     "loading therapist"
            //     "gift buy";
            // grid-template-columns: repeat(2, 356px);  // 356px

            position: relative;
            display: flex;
            margin-bottom: 3.6875rem;  // 59px
            flex-direction: column;
            gap: 1.875rem;  // 30px
        }

        @include breakpoint-up(ipadpro) {
            width: 13.875rem;  // 222px
            margin-bottom: 0;
            gap: 1.5rem;  // 24px
        }

        @include breakpoint-up(desktop) {
            width: 17.625rem;  // 282px
        }
    }

    &__aside-col-1 {
        margin-bottom: 1.5rem;  // 24px

        @include breakpoint-up(ipadmini) {
            display: flex;
            height: 30.0625rem;  // 481px
            margin-bottom: 0;
            gap: 1rem;  // 16px
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            height: auto;
            flex-direction: column;
            gap: 1.5rem;  // 24px
        }
    }

    &__aside-loading {
        margin-bottom: 1.5rem;  // 24px
        padding: 1.5rem;  // 24px
        border-radius: 1rem;  // 16px
        background-color: #E6F0FD;
        text-align: center;

        @include breakpoint-up(iphonepromax) {
            padding: 1.5rem 2rem 2.75rem; // 24px 32px 44px
        }

        @include breakpoint-up(ipadmini) {
            // grid-area: loading;
            height: 100%;
            width: 22.25rem;  // 356px
            margin-bottom: 0;
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            // height: 495px;  // 495px
            height: auto;
            padding: 1.1875rem 1.5rem;  // 19px 24px
        }

        @include breakpoint-up(desktop) {
            padding: 1.5rem;  // 24px
        }

        & > h3 {
            margin-bottom: 0.6875rem;  // 11x
            font-size: $fontLg;
            line-height: 1.5rem;  // 24px
        }

        & > p {
            margin-bottom: 1.5rem;  // 24px
            font-size: $fontMd;
            line-height: 1.25rem;  // 20px
        }
    }

    &__aside-loading-bg-svg {
        height: 12.875rem;  // 206px
        margin-bottom: 1rem;  // 16px
        background-image: url("/src/images/svg/icon9.svg");
        // background-size: 14.9375rem;  // 239px
        background-repeat: no-repeat;
        background-position: center center;

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadpro) {
            width: 11.3125rem;  // 181px
            height: 11.3125rem; // 181px
            margin-bottom: 0;
            background-size: contain;
        }

        @include breakpoint-up(desktop) {
            width: 16.0625rem;  // 257px
            height: 12.875rem;  // 206px
            margin-bottom: 1.5rem;  // 24px
        }
    }

    &__aside-cta-btn {
        display: block;
        width: 100%;
        padding: 0.75rem 4.375rem;  // 12px 70px
        text-align: center;
        font-weight: 700;
        font-size: $fontDft;
        line-height: 1.5rem;  // 24px
        background-color: #35B3A9;
        color: $firstColor;
        border-radius: 0.25rem;  // 4px
        transition: background-color 200ms ease;

        &:hover {
            background-color: #03a093;
        }

        @include breakpoint-up(ipadpro) {
            padding: 0.75rem 2.5625rem;  // 12px 41px
        }
    }

    &__aside-therapist {
        position: relative;
        display: flex;
        padding: 1rem 1rem 2.25rem;  // 16px 16px 36px
        flex-direction: column;
        align-items: center;
        border: 1px solid #DEDEDE;
        border-radius: 1rem;  // 16px

        @include breakpoint-up(iphonepromax) {
            padding: 1.5rem 3.875rem 2.25rem; // 24px 62px 36px
        }

        @include breakpoint-up(ipadmini) {
            // grid-area: therapist;
            height: 100%;
            width: 22.25rem;  // 356px
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            // height: 523px;  // 523px
            height: auto;
            padding: 1.5rem 1.5rem 1rem;  // 24px 24px 16px
        }
        
        @include breakpoint-up(desktop) {
            padding: 1rem 1rem 2.25rem;  // 16px 16px 36px
        }
    }

    &__aside-therapist-list {
        position: absolute;
        display: flex;
        top: 1rem;  // 16px
        left: 1rem;  // 16px
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;  // 8px
    }

    &__aside-therapist-list-item {
        font-size: $fontSm;
        font-weight: 500;
        line-height: 1.125rem;  // 18px
        letter-spacing: 0.25px;
        color: $secondColor;
        background-color: #f3f4f8b3;
        border-radius: 0.375rem;  // 6px
    }

    &__aside-therapist-link {
        display: flex;
        padding: 0.1875rem 0.375rem;  // 3px 6px
        align-items: center;
        gap: 0.25rem;  // 4px
    }

    &__aside-therapist-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;  // 16px

        & > img {
            margin-bottom: 1rem;  // 16px
        }

        & > h3 {
            font-size: 1.25rem;  // 20px
            font-weight: 700;
            line-height: 1.75rem;  // 28px
        }

        & > h4 {
            font-weight: 600;
            margin-bottom: 0.25rem; // 4px
        }
    }

    &__aside-therapist-info {
        display: flex;
        align-items: center;
        gap: 0.5rem; // 8px

        & > p {
            font-weight: 500;
            font-size: $fontMd;
            line-height: 1.25rem; // 20px
            color: #A2A7B1;
        }

        & > span {
            display: block;
            height: 0.25rem; // 4px
            width: 0.25rem;  // 4px
            background-color: #A2A7B1;
            border-radius: 50%;
        }
    }

    &__aside-therapist-bottom {
        width: 100%;
        padding: 1rem 0;  // 16px
        border-top: 1px solid $sixthColor;

        & > h4 {
            margin-bottom: 0.5rem; // 8px
        }

        & > ul li {
            position: relative;
            padding-left: 1.5rem;  // 24px
            font-size: $fontMd;
            line-height: 1.25rem;  // 20px
            color: $secondColor;
    
            &::before {
                position: absolute;
                display: block;
                height: 0.5rem;  // 8px
                width: 0.5rem;  // 8px
                content: "";
                top: 0.4375rem;  // 7px
                left: 0.375rem;  // 6px
                border-radius: 50%;
                background-color: $twelfthColor;
            }
        }

        & > ul li:not(:last-child) {
            margin-bottom: 0.5rem;  // 8px
        }
    }

    &__aside-col-2 {
        margin-bottom: 3.75rem;  // 60px

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 7.9375rem;  // 127px
        }

        @include breakpoint-up(ipadmini) {
            display: flex;
            height: 15.5rem; // 248px
            margin-bottom: 0;
            gap: 1rem;  // 16px
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            height: auto;
            flex-direction: column;
            gap: 1.5rem;  // 24px
        }

        @include breakpoint-up(desktop) {
            gap: 2.625rem; // 42px
        }
    }

    &__aside-gift {
        height: 18.25rem;  // 292px
        margin-bottom: 1.5rem;  // 24px
        overflow: hidden;
        border-radius: 1rem;  // 16px
        background-color: $ninthColor;
        background-image: url("/src/images/svg/icon14.svg");
        background-repeat: no-repeat;
        background-position: center top;
        transition: all 200ms ease-in-out;

        &:hover {
            transform: scale(1.065);
            box-shadow: 0 0.375rem 0.75rem $ninthColor; // 0px 6px 12px
        }

        @include breakpoint-up(iphonepromax) {
            background-position: left top;
        }

        @include breakpoint-up(ipadmini) {
            // grid-area: gift;
            height: 100%;
            width: 22.25rem;  // 356px
            margin-bottom: 0;
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            // height: 308px;  // 308px
            // height: auto;
            height: 18.25rem;  // 292px
            background-position: center top;
        }
    }

    &__aside-gift-link {
        position: relative;
        display: block;
        height: 100%;
        padding-top: 3.75rem;  // 60px
        text-align: center;

        @include breakpoint-up(desktop) {
            padding: 3.75rem 1.375rem 0;  // 60px 22px 0px
        }

        & > p {
            font-size: $fontXxlg;
            font-weight: 700;
            line-height: 2.5rem;  // 40px
            color: $firstColor;
        }

        & > div:nth-child(2) {
            position: absolute;
            height: 11.3125rem;  // 181px
            width: 11.875rem; // 190px
            top: 6.9375rem;  // 111px
            right: 0;
            left: 6.1875rem;  // 99px
            background-image: url("/src/images/svg/icon-blue-box.svg");
            background-repeat: no-repeat;
            background-position: right bottom;

            @include breakpoint-up(iphonepromax) {
                top: 7.5rem;  // 120px
                left: 8.9375rem;  // 143px
                background-image: url("/src/images/svg/icon-blue-box-full.svg");
                background-size: contain;
                background-position: bottom;
            }

            @include breakpoint-up(ipadmini) {
                top: 5.625rem;  // 90px
            }

            @include breakpoint-up(ipadpro) {
                top: 6.9375rem;  // 111px
                left: 3.25rem;  // 52px
                background-size: auto;
            }

            @include breakpoint-up(desktop) {
                top: 7rem;  // 112px
                left: 5.75rem;  // 92px
            }
        }

        & > div:nth-child(3) {
            position: absolute;
            height: 10.375rem;  // 166px
            // width: 8rem;  // 128px
            top: 7.875rem;  // 126px
            right: 0;
            left: 0.8125rem;  // 13px
            background-image: url("/src/images/svg/icon-yellow-box.svg");
            background-repeat: no-repeat;
            background-position: left bottom;

            @include breakpoint-up(ipadmini) {
                top: 7.125rem;  // 114px
            }

            @include breakpoint-up(ipadpro) {
                top: 7.875rem;  // 126px
                left: -2.5rem;  // -40px
                background-image: url("/src/images/svg/yellow-box-desktop.svg");
            }

            @include breakpoint-up(desktop) {
                left: 0;
            }
        }

        & > div:nth-child(4) {
            position: absolute;
            height: 8.5rem;  // 136px
            // width: 5.625rem;  // 90px
            top: 9.75rem;  // 156px
            right: 0;
            left: 12.375rem;  // 198px
            background-image: url("/src/images/svg/icon-red-box.svg");
            background-repeat: no-repeat;
            background-position: right bottom;

            @include breakpoint-up(iphonepromax) {
                left: 12.875rem;  // 206px
                background-image: url("/src/images/svg/icon-red-box-414px.svg");
                background-position: bottom;
            }

            @include breakpoint-up(ipadmini) {
                top: 8.875rem;  // 142px
                left: 14.1875rem;  // 227px
            }

            @include breakpoint-up(ipadpro) {
                width: 5.625rem;  // 90px
                top: 9.8125rem;  // 157px
                left: 9rem;  // 144px
                background-image: url("/src/images/svg/red-box-desktop.svg");
            }

            @include breakpoint-up(desktop) {
                width: 7.375rem; // 118px
                top: 9.875rem;  // 158px
                left: 10.5625rem;  // 169px
            }
        }
    }

    &__aside-buy {
        position: relative;
        padding: 1rem;  // 16px
        overflow: hidden;
        border: 1px solid $sixthColor;
        border-radius: 1.5rem;  // 24px

        @include breakpoint-up(iphonepromax) {
            padding: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadmini) {
            // grid-area: buy;
            height: 100%;
            width: 22.25rem;  // 356px
            // padding-bottom: 0.1875rem;  // 3px
        }

        @include breakpoint-up(ipadpro) {
            width: 100%;
            // height: 308px;  // 308px
            height: auto; 
            padding: 1.1875rem 1.5rem;  // 19px 24px
        }

        @include breakpoint-up(desktop) {
            padding: 1.9375rem;  // 31px
        }

        & > div:nth-child(5) {
            position: absolute;
            height: 5.125rem;  // 82px
            width: 5.375rem;  // 86px
            top: 11.75rem;  // 188px
            left: 9.875rem;  // 158px
            background-repeat: no-repeat;

            @include breakpoint-up(iphonepromax) {
                width: 7rem;  // 112px
                height: 6.625rem;  // 106px
                top: 11.8125rem; // 189px
                left: 11.75rem;  // 188px
                background-size: contain;
            }

            @include breakpoint-up(ipadmini) {
                top: 10.1875rem; // 163px
                left: 10.3125rem;  // 165px
            }

            @include breakpoint-up(ipadpro) {
                top: 13.4375rem;  // 215px
                left: 7.9375rem;  // 127px
            }

            @include breakpoint-up(desktop) {
                top: 12.4375rem; // 199px
                left: 10.125rem;  // 162px
            }
        }

        & > div:nth-child(6) {
            position: absolute;
            height: 5.875rem;  // 94px
            width: 6.5625rem;  // 105px
            top: 12.3125rem;  // 197px
            left: 11.3125rem;  // 181px
            background-repeat: no-repeat;

            @include breakpoint-up(iphonepromax) {
                width: 8.5625rem;  // 137px
                height: 7.5625rem;  // 121px
                top: 12.5rem;  // 200px
                left: 13.5625rem;  // 217px
                background-size: contain;
            }

            @include breakpoint-up(ipadmini) {
                top: 10.9375rem; // 175px
                left: 12.125rem;  // 194px
            }

            @include breakpoint-up(ipadpro) {
                top: 14.125rem;  // 226px
                left: 9rem;  // 144px
            }

            @include breakpoint-up(desktop) {
                top: 13.1875rem; // 211px
                left: 11.875rem;  // 190px
            }
        }
    }

    &__aside-buy-title {
        display: flex;
        margin-bottom: 1rem;  // 16px
        align-items: baseline;
        gap: 0.25rem;  // 4px
        color: $ninthColor;

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1rem;  // 16p
        }

        & > p:first-child {
            font-size: $fontXlg;
            font-weight: 700;
            line-height: 2rem;  // 32px
        }

        & > p:last-child {
            font-size: $fontLg;
            font-weight: 700;
            line-height: 1.625rem;  // 26px
        }
    }

    &__aside-buy-text {
        margin-bottom: 1rem;  // 16px
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: $fontMd;
        line-height: 1.25rem;  // 20px
        color: #011632;

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1rem;  // 16p
        }
    }

    &__aside-buy-price {
        margin-bottom: 1rem;  // 16px
        font-size: $fontXlg;
        font-weight: 700;
        line-height: 2rem;  // 32px
        color: $secondColor;

        @include breakpoint-up(iphonepromax) {
            margin-bottom: 1.5rem;  // 24px
        }

        @include breakpoint-up(ipadmini) {
            margin-bottom: 1rem;  // 16p
        }
    }

    &__aside-buy-cta-btn {
        display: inline-block;
        padding: 0.75rem 1.4375rem;  // 12px 23px
        border-radius: 0.25rem;  //  4px
        background-color: #35B3A9;
        font-weight: 700;
        line-height: 1.5rem;  // 24px
        color: $firstColor;
        transition: background-color 200ms ease;

        &:hover {
            background-color: #03a093;
        }
    }

    &__blob {
        position: absolute;
        right: -7.5rem;  // -120px
        bottom: 137.4375rem;  // 2199px
        width: 13.625rem;  // 218px
        height: 31.375rem;  // 502px
        background-repeat: no-repeat;

        @include breakpoint-up(desktoplarge) {
            right: -22.0625rem;  // -353px
        }
    }

    &__help-find {
        position: relative;
        padding: 4.4375rem 0 11.875rem;  // 71px 190px
        border-top: 1px solid $sixthColor;

        @include breakpoint-up(desktoplarge) {
            padding-bottom: 13.375rem;  // 214px
        }
    }

    &__help-find-contents {
        position: relative;
    }

    &__help-find-h1 {
        max-width: 21.75rem;  // 348px
        margin-bottom: 1.5rem;  // 24px
        font-weight: 700;
        font-size: $fontLgst;
        line-height: 3.5rem;  // 56px
        color: $secondColor;
    }

    &__help-find-txt {
        max-width: 21.75rem;  // 348px
        margin-bottom: 2rem;  // 32px
        font-size: $fontLg;
        line-height: 1.625rem;  // 26px
        color: $secondColor;
    }

    &__help-find-cta {
        display: inline-block;
        padding: 1.25rem 1.5rem;  // 20px 24px
        border-radius: 0.25rem;  // 4px
        background-color: #35B3A9;
        font-weight: 700;
        color: $firstColor;
        transition: all 200ms ease;

        &:hover {
            background-color: #03a093;
        }
    }

    &__help-find-img {
        position: absolute;
        top: 0;
        left: 40rem;  // 640px
        width: 30rem;  // 480px
        height: 25.625rem;  // 410px
        background-repeat: no-repeat;
    }

    &__help-find-blob {
        position: absolute;
        top: 4.375rem;  // 70px
        right: -19.9375rem;  // -319px
        width: 17rem;  // 272px
        height: 15rem;  // 240px
        background-repeat: no-repeat;

        @include breakpoint-up(desktoplarge) {
            width: 4rem;  // 64px
            right: -21.875rem;  // -350px
        }
    }

    &__help-find-decor {
        position: absolute;
        bottom: 0;
        left: -7.5rem;  // -120px
        width: 90rem;  // 1440px
        height: 6.75rem;  // 108px
        background: linear-gradient(180deg, $seventhColor 50.8%, 85.09%, $firstColor);
        border-radius: 50% 50% 0 0 / 1.5625rem 1.5625rem 0 0;  // 25px

        @include breakpoint-up(desktoplarge) {
            width: 120rem;  // 1920px
            left: -22.9375rem;  // -367px
        }
    }
}