.main {
    
    & h4 {
        line-height: 1.5rem;  // 24px
    }

    // margin-bottom helper class
    .mg-bottom {
        margin-bottom: 1rem;  // 16px
    }

    // Helper class for styling and positioning list elements
    .list-style-pseudo {
        position: relative;
        padding-left: 2rem;  // 32px

        &:first-child {
            margin-bottom: 0.5rem;  // 8px
        }

        &::before {
            position: absolute;
            display: block;
            height: 0.5rem;  // 8px
            width: 0.5rem;  // 8px
            content: "";
            top: 0.5rem;  // 8px
            left: 0.5rem;  // 8px
            border-radius: 50%;
            background-color: $twelfthColor;
        }
    }

    // Helper class for styling cards with different background-color
    .bg-color-card {
        padding: 1rem;  //  16px
        border-radius: 1rem;  // 16px

        & > h4 {
            margin-bottom: 0.5rem;  // 8px
        }
    }

    &__breadcrumbs {
        margin: 1rem 0 2rem;  // 16px 32px
    }

    &__breadcrumbs-list {
        display: flex;
        gap: 0.625rem;  // 10px
        align-items: center;

    }

    &__breadcrumbs-nav-link-with-arrow {
        display: flex;
        align-items: center;
        gap: 0.625rem;  // 10px
        flex-shrink: 0;

        & > svg {
            // width: 16px;  // 16px
            // height: 16px;  // 16px
        }
    }

    &__breadcrumbs-nav-link {
        display: inline-block;
        font-size: $fontSm;
        line-height: 1.125rem;  // 18px
        letter-spacing: 0.25px;
        color: #333333b3;

        &:last-child {
            max-width: 9.6875rem;  // 155px
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;  // Won't work without the above properties
            pointer-events: none;
        }
    }

    &__flex-container {

    }

    &__article {
        
        & ul li {
            font-weight: 500;
            line-height: 1.5rem;  // 24px
            color: $secondColor;
        }
    }

    &__article-info {
        // margin-bottom: 1rem;  // 16px
    }

    &__article-info-title {
        margin-bottom: 0.5rem;  // 8px
        line-height: 2rem;  // 32px
    }

    &__article-info-text {
        font-size: $fontMd;
        line-height: 1.25rem;  // 20px
        color: $thirdColor;

        & > span {
            color: $ninthColor;
        }
    }

    &__img-wrapper {
        // margin-bottom: 1rem;  // 16px
        height: 10rem;  // 160px

        & > img {
            height: 100%;
            width: 100%;
        }
    }

    &__navigation {
        // margin-bottom: 1rem;  // 16px
    }

    &__navigation-heading {
        margin-bottom: 0.5rem;  // 8px
    }

    &__navigation-headline {
        // position: relative;
        // padding-left: 2rem;  // 32px

        // &:first-child {
        //     margin-bottom: 0.5rem;  // 8px
        // }

        // &::before {
        //     position: absolute;
        //     display: block;
        //     height: 0.5rem;  // 8px
        //     width: 0.5rem;  // 8px
        //     content: "";
        //     top: 0.5rem;  // 8px
        //     left: 0.5rem;  // 8px
        //     border-radius: 50%;
        //     background-color: $twelfthColor;
        // }

        & > a {
            text-decoration: underline;
        }
    }

    &__article-content {

        & h3 {
            margin-bottom: 0.5rem;  // 8px
            font-size: 1.125rem;  // 18px
            line-height: 1.625rem;  // 26px
        }

        & p {
            font-weight: 500;
            line-height: 1.5rem;  // 24px
            color: $secondColor;
        }

        & > P:nth-child(2) {
            margin-bottom: 0.5rem;  // 8px
        }

        & > P:nth-child(3) {
            margin-bottom: 2.5rem;  // 40px
        }
    }

    &__bg-svg-and-text-1 {
        position: relative;
        // margin-bottom: 1rem;  // 16px
        padding: 1rem;  // 16px
        border-radius: 1rem;  // 16px
        background-color: #F3F7FE;

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 1.4375rem;  // 23px
            height: 2.25rem;  // 36px
            background: url("/src/images/svg/icon-quote.svg") no-repeat;
            opacity: 0.6;
        }

        & > p {

            &:first-child {
                margin-bottom: 0.5rem;  // 8px
                font-style: italic;
            }

            &:last-child {
                font-weight: 700;
                font-style: normal;
            }
        }
    }

    &__article-content-subgroup-1 {

        & > ul {
            // margin-bottom: 1rem;  // 16px

            & > li {
                // position: relative;
                // padding-left: 2rem;  // 32px

                // &:first-child {
                //     margin-bottom: 0.5rem;  // 8px
                // }

                // &::before {
                //     position: absolute;
                //     display: block;
                //     height: 0.5rem;  // 8px
                //     width: 0.5rem;  // 8px
                //     content: "";
                //     top: 0.5rem;  // 8px
                //     left: 0.5rem;  // 8px
                //     border-radius: 50%;
                //     background-color: $twelfthColor;
                // }
            }
        }

        & > p:nth-child(4) {
            // margin-bottom: 1rem;  // 16px
            font-size: $fontMd;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.25px;
            color: $fifthColor;
        }
    }

    &__bg-svg-and-text-2 {
        // height: 176px;  // 176px
        // margin-bottom: 1rem;  // 16px
        padding-top: 0.5rem;  // 8px
        background-image: url("/src/images/svg/icon21.svg");
        background-size: 15rem 10.5rem;  // 240px 168px
        background-repeat: no-repeat;
        background-position: center center;

        & > p {
            font-weight: 400;
            font-style: italic;
            text-align: center;
        }
    }

    &__img-and-text-row-1 {

        & > div:first-child {
            height: 380px;  // 380px
            width: 288px;  // 288px
        }

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__bg-and-text-1 {
        // padding: 1rem;  //  16px
        background-color: #FEFAEC;
        // border-radius: 1rem;  // 16px

        // & > h4 {
        //     margin-bottom: 0.5rem;  // 8px
        // }
    }

    &__article-content-subgroup-2 {

    }

    &__img-and-text-row-2 {
        & > div:first-child {
            height: 160px;  // 160px
            width: 288px;  // 288px
        }

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__bg-and-text-2 {
        background-color: #FFF3EB;
    }

    &__img-and-text-column {

        & > div:nth-child(odd) {
            margin-bottom: 0.5rem;  // 8px
            height: 235px;  // 235px
            width: 288px;  // 288px

            & > img {
                height: 100%;
                width: 100%;
            } 
        }
    }
}